.container {
  max-width: 1050px;
  width: 48px;
  margin: auto;
}

.navbar {
  width: 100%;
  border: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.navbar .menu-items {
  display: flex;
  background: var(--riscv-y);
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--riscv-b);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 48px;
  width: 48px;
  top: 10px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 17px;
  left: 20px;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--riscv-b);
  background: var(--riscv-y);
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 5px;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 20px;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  height: 15em;
  width: 18rem;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 20px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 0.8rem;
  font-size: 1.0rem;
  font-weight: 500;
}

.logo {
  position: static;
  /* top: 5px; */
  /* right: 15px; */
  font-size: 1.0rem;
  color: var(--riscv-b);
  background: var(--riscv-y);
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* .nav-container input[type="checkbox"]:checked ~ .logo{ */
/*   display: none; */
/* } */
